* {
  box-sizing: border-box;
}

body {
background-color: #ccc;
}

h5 {
  font-size: 0.8rem;
}

.text-bold {
  font-weight: 500;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: transparent;
  color: #000;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
  background-color: #0099cc;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For desktop: */
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .all-data {
    text-align: center;
  }
}

.white-bg {
    background-color: #fff;
}

.filter {
    padding-left: 5px;
    padding-right: 10px;
    
    border-radius: 3px;
    padding-bottom: 10px;

}

.upper-filter-text {
display: flex;
flex-direction: column;
}

.w-100 {
    width: 100%;
}

.filter-text {
    padding: 10px;
}

.launch-text {
    font-size: 12px;
    margin: 0px auto;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 0 10px;
    margin-bottom: 10px;
}
 .year-link {
     width: 50px;
     text-align: center;
     background-color: #66ff66;
     display: inline-grid;
     margin-right: 20px;
     margin-bottom: 15px;
     font-size: 12px;
     height: 20px;
     padding: 4px;
 }

 .year-link:hover {
   background-color: #038a26
 } 

 .year-link-selected {
   background-color:#038a26 !important;
 }

 .year-filter {
     padding-left: 20px;
 }

 .card-data {
    margin-left: 10px;
    width: 230px;
    display: inline-grid;
    margin-bottom: 16px;
    border-radius: 3px;
    min-height: 380px;
 }
 

 .program-thumbnail {
     width: 200px;
 }


 .id-list {
     display: list-item;
     margin-left: 20px;
 }

 .img-container {
     padding-top: 10px;
   text-align: center;
   background: #45474a;
 }

 .program-details {
   padding-left: 10px;
 }

 .program-detail-headline {
   margin-bottom: 5px;
 }

 .hand-cursor {
   cursor: pointer;
 }

 .developer-credits {
   text-align: center;
 }

